@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.arapey-regular {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
}

.arapey-regular-italic {
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Kapakana";
  src: url("/assets/fonts/Kapakana[wght].ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h2 {
  font-family: "Arapey", serif;
  letter-spacing: 15px;
}

.nav {
  font-family: "Arapey", serif;
  color: black;
  text-decoration: none;
  font-size: 24px;
  z-index: 1; /*para o nav ficar acima da imagem*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-link {
  color: inherit; 
  text-decoration: none; 
}

.nav-link:hover {
  color: #ffffff;
}

#titulo {
  font-family: "Kapakana";
  font-size: 60px;
}

p {
  font-family: "EB Garamond";
  font-style: italic;
  font-size: 20px;
}
.header-bg {
  background-image: linear-gradient(
      to bottom,
      rgb(255, 254, 234),
      rgba(255, 255, 255, 0) 30%
    ),
    linear-gradient(to top, rgb(255, 254, 234), rgba(255, 255, 255, 0) 38%),
    url("/assets/images/cover1.jpg");

  background-size: cover;
  background-position: center;
  height: 500px; 
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: center; 

  max-width: 100%;
  max-height: 500px;
  object-fit: cover;
}

main {
  align-items: center;

  background-color: rgb(255, 254, 234);
}

@media (min-width: 1200px) {
  .mw-50 {
    max-width: 50%;
  }
  iframe {
    width: 90%; /* Reduz a largura para 90% */
    height: 250px; /* Reduz a altura */
    margin: 0 auto; /* Centraliza o iframe */
  }
}

iframe {
  width: 100%; /* Padrão: largura total no desktop */
  height: 350px; /* Padrão: altura */
}

#bf {
  padding-left: 150px;
  padding-top: 20px;
  margin-left: 5px;
}

.carousel-inner img {
  max-width: 100%; /* A largura máxima será 100% do contêiner */
  max-height: 500px; /* Defina a altura máxima que desejar */
  object-fit: cover; /* Mantém a proporção, cortando a imagem se necessário */
}

a {
  color: black; 
  text-decoration: none;
}

a:hover {
  color: #000;
}

#igreja{
  max-width: 100%;
  max-height: 500px;
}
